
.navbar.navbar-expand-lg.bg-warning {
    background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 56%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 56%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 56%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

a.navbar-brand {
    color: #ffffff;
}

a.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    font-weight: bold;
    color: #ffffff;
}

button.btn.btn-primary {
    background-color: black;
    background: rgb(131,58,180);
background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,252,239,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,252,239,1) 100%);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(69,252,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#45fcef",GradientType=1);
}

button.btn.btn-primary:hover {
    color: rgba(0, 0, 0, 0.473);
}

button.btn.btn-secondary {
    background: rgba(255, 255, 255, 0.904);
    color: black;
}

button.btn-close {
    color: #ffffff;
}

label.col-sm-2.col-form-label {
    color: white;
    padding-right: 2cm;
}

.banner {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5%;
}

h1.nombre {
    margin-left: 25%;
    margin-top: -10%;
    padding-bottom: 1rem;
    color: white;
    font-weight: bold;
}

.titulo {
    margin-left: 30%;
    margin-top: 5%;
}

div.modal-body {
    background: rgba(0, 3, 150, 0.863);
    padding: 30px;
}

div.modal-footer {
    background: rgb(34, 33, 33);
}

div.modal-header {
    background: rgb(34, 33, 33);
    color: white;
    padding: 30px;
}

.descripcion {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 4%;
}

.estudios {
    background: rgb(9, 0, 94);
   
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.educacion { 
    margin-top: 5%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.li-educ {
    padding-top: 2rem;
    padding-left: 20%;
}

.exp-lista {
    padding-top: 2rem;
    padding-left: 20%;
}

.habilidades {
    display: grid;
    gap: 0.5em;
}

.titulo-hab {
    background: rgb(9, 0, 94);
    color: white;
    height: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2rem;
    border-radius: 0.55rem
}

.skill {
    margin-top: 1rem;
    margin-left: 20%;
}

.progress {
    margin-top: 1rem;
    display: flex;
    width: 600px;
    margin-left: 25%;
    margin-right: 25%;
}

.proyectos {
    background: rgb(9, 0, 94);
    color: white;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3rem;
    border-radius: 1rem;
}

.proyectos-des {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 4%;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
}

.text-bg-dark {
    border-radius: 0.3rem;
}

.hobbies__titulo {
    display: flex;
    justify-content: center;
    font-size: 200%;
    background-color: rgb(9, 0, 94);
    color: #ffffff;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 0.5rem;
}

.pie-pagina {
    background: rgb(1, 17, 68);
    width: 100%;
}

.descripcion-pie {
    color: white;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .titulo {
        margin-left: 15%;
    }
    .estudios {
        background: white;
    }
    .educacion {
        color: black;
    }
    .li-educ {
        padding-left: 0%;
    }
    .exp-lista {
        padding-left: 8%;
    }
    .titulo-hab {
        color: black;
        background: white;
    }
    .progress {
        width: 180px;
    }
    .proyectos {
        color: black;
        background: white;
    }
}